

<div class="profile-list mt-3 mb-3">
<form class="form-inline" method="POST" action="/profileList">
  <input class="form btn-lg" type="text" placeholder="Ned Stark" name="name">
  <button class="btn btn-primary pt-2 pb-2 ml-3" type="submit">Search</button>
</form><br><br>
</div>


{{!-- <form action="/profileList">

<select class="custom-select mr-sm-2" id="CustomSelect" name="party">
  <option selected>Search by Political Party</option>
  <option value="1" name="party">Conservatives</option>
  <option value="2" name="party">Labor</option>

</select>
</form><br><br><br> --}}



<div>
  {{#each user}}

<div class="profile-list mb-3">

<div class="card" style="width: 18rem;">
  <img src="{{this.profilePicture}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{this.name}} </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.party}}</h6>
    <p class="card-text"><a class="title"> Political View </a> {{this.politicalView}}</p>
    <a href="#" class="btn btn-primary">View Profile</a>
  </div>
</div>



</div>
  {{/each}}

</div>


{{!-- <a> {{this.description}} </a> <br> <a class="mr-0" href="{{this.link}}">Full Article</a> </p> --}}