<div>
  <h3 class="font-bold"> Profile </h3><br>
</div>

<div class="profile-pic">
  <img src="{{user.profilePicture}}" alt="" width="40%">
</div>
<br>
<div class= "profile-email">
  <h4>{{user.name}}</h4><br>
</div>

<div>
  <div class="profile-item">
    <p><strong>Party:</strong> 
      {{user.party}}</p><br>

    <p><strong>Political View:</strong>
    {{user.politicalView}}</p>

    {{!-- <p>{{votes.option}}</p> --}}

  </div>
</div>