<div>
  <div class="voting-wrapper">

    {{!-- <h3 class="font-bold"> Voting </h3> --}}
    <h3>{{article.title}}</h3>
    <p>{{article.description}}</p>
    <a href="{{article.link}}">Full Article</a><br><br>

  </div>
  <img src="{{article.imgArticle}}" alt="" width="100%">
  <br><br>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <form action="/voting/{{article._id}}" method="POST">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <h4>Time to Vote</h4><br>
            {{!-- <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label> --}}
              <p> For/Against</p>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name= "select1" >
              <option value="forAgainst" name="option" disabled selected>For/Agains</option>
              <option value="Supporting" name="option">Supporting</option>
              <option value="Not-Supporting" name="option">Not-Supporting</option>

            </select><br><br>
            <select class="custom-select mr-sm-2" id="CustomSelect" name= "select2">
              <option value="disabled" name="option" disabled selected>Profile Visability</option>
              <option value="visible" name="visible">Visible</option>
              <option value="not visible" name="visible">Not Visible</option>

            </select><br><br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </ul>
  </nav><br>

  {{!-- <input class="form-control" type="text" placeholder="Default input"> --}}
  <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Share</a><br><br><br><br>


</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

  </ul>
</nav>